@tailwind base;
@tailwind components;
@tailwind utilities;

.perspective {
  perspective: 2000px;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.hover-float:hover {
  animation: float 3s ease-in-out infinite;
}
